*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 120%;
    background-color: #DDDDDD;
    
}
.main_container{
    position: relative;
    padding: 35px;
    background-color:#EEEEEE;
    opacity: ;
    width: 100%;
    max-width: 440px;
    border-radius: 20px;
    /* height: 430px; */
    
   
}
.main_container p i{
    position:absolute;
    top: 10px;
    left: 110px;    
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.search-bar{
    padding: 10px;
    outline:none;
    margin: 5px 5px;
    border-radius: 20px;
    border: none;
    background-color: #7c7c7c2b;
    color:black;
    font-family: inherit;
    font-size: 120%;
    height:49px;
    width: 100%;

}
::placeholder{
    padding: 15px 11px;
}
.search button{
    border-radius: 35%;
    padding: 15px;
    border: none;
    height: 49px;
    background-color: #7c7c7c2b;
    
}
.weather p{
    margin-top: 15px;
}
.weather h1{
    margin-top: 25px;
}
.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
}
/* .weather.loading:after{
    visibility: visible;
    color: black;
    content: 'Loading...';
    position: absolute;
    top: 0px;
    left: 140px;
} */
.humidity{
    margin-top: 10px;
    padding: 5px 0;
}
.wind{
    margin-top: 10px;
    padding: 5px 0;
}